@import "./login-util.css";
@import "./login-main.css";
@import "../../layui/css/layui.css";
@import "../../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css";
@import "../../assets/fonts/iconic/css/material-design-iconic-font.min.css";
.site-block{
	padding:20px;
	border:1px solid #eee;
	margin: 20px;
}
.site-text{
	position: relative;
}
.main-info{
	margin:20px;
}
input{
	vertical-align: -2px;
	vertical-align: -1px;
	margin-right: 2px;
}
p{
	font-size:17px;
	font-weight:300;
	line-height:25px;
	color:#666;
}
.layui-form-label{
	width:100px;
}
.ext-disabled{
	color:#d2d2d2;
}
.add:hover{
	color:#5FB878;
}
.sub:hover{
	color:#FF5722;
}

.add{
	color:#CCC;
	transition:0.3s ease;
}
.sub{
	color:#CCC;
	transition:0.3s ease;
}

#timeBar{
	text-align:center;
	color:white;
    font-size:25px;
	user-select:none;	
	border-radius:10px 10px 10px 10px;	
	padding-top: 9px;
	padding-bottom: 13px;
}

.reset{
	color:#CCC;
	transition:0.3s ease;
}

.reset:hover{
	color:rgb(30, 223, 213);
}